* {
  box-sizing: border-box;
}

html {
	text-align: center;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: auto;
}

header {
  width: 100%;
  background: linear-gradient(#f5cf3f, #c72598);
  background-size: 100%;
  color: #FEFEE2;
  padding-top: 5px;
  position: fixed;
  padding-bottom: 5px;
}

p {
	letter-spacing:.1em;
  line-height:2em;
}

a,
ul,
li {
	text-decoration: none;
	color: inherit;
}

nav li {
    list-style-type: none;
    padding-top: 2px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background: transparent;
    border-radius: 4px;
}

nav li:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    border-top: 1px solid #FEFEE2;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    transition: 2s ease;
} 

nav li:hover:after {
    width: 100%;
}

nav li:hover {
    background: linear-gradient(rgba(255,255,255,0.2),transparent);
}

section {
    /*background: #dccfcf;*/
    color: #464546;
    /* padding-left: 2%; */
    /* padding-right: 2%; */
    /* padding-bottom: 5%; */
}

.hero {
	color: #FEFEE2;
	height: 100vh;
	background: url("https://picsum.photos/200/300/?random");
	background-repeat: no-repeat;
	padding-top: 50vh;
	background-size: cover;
}

#menuTitle {
  width: 252px;
  margin: auto;
  margin-bottom: 0px;
  padding-top: 10px;
  display: flex;
}

.secTitle,
.headerTitle{
	font-size: 25px;
}

.subscribe {
	background: #f5cf3f;
	color: #1d0029;
	padding: 20px;
}

.secTitle {
	padding: 15px;
	text-align: center;
}

.fab {
	padding-top: 15px;
  padding-left: 0px;
}

.subscribe input{
    font-size: 14px;
    height: 30px;
    width: 103%;
    border-radius: 5px;
    border: transparent;
}

#submit {
  	background: #DEA62F;
	width: 100%;
	margin-top: 10px;
	height: 30px;
 	border: transparent;
	border-radius: 5px;
}

#subscribe,
#submit,
.contact {
  color: #FEFEE2;
}

.contact {
  background: #f5cf3f;
}

.subContainer {
    width: 330px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.contactIcons li {

	display: inline-block;
}

.contactIcons {
  margin: 0px;
	font-size: 40px;
	padding-left: 0px;
  padding-bottom: 20px;
}

.navContent {
  padding-left: 0px;
  text-align: -webkit-center;
  display: none;
  max-height: 100%;
}

#lotus {
  height: 40px;
  margin-top: -6px;
  float: left;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 40px;
}

#siteTitle {
  float: right;
}

#menu {
  top: 0px;
  right: 10px;
  width: 40px;
  height: 45px;
  position: fixed;

}

#menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 80%;
  background: #FEFEE2;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
}

#menu span:nth-child(1) {
  left: 0px;
  top: 13px;
}

#menu span:nth-child(2),
#menu span:nth-child(3){
  top: 23px;
}


#menu span:nth-child(4) {
  top: 33px;
}

#menu.open span:nth-child(1) {
  top: 13px;
  width: 0%;
  left: 80%;
}

#menu.open span:nth-child(2) {
  transform: rotate(45deg);
}

#menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#menu.open span:nth-child(4) {
  top: 13px;
  width: 0%;
  left: 50%;
}

.serviceTitle {
  margin-top: 20px;
  font-size: 20px;
}

.serviceType ul{
  padding-left: 0;
  list-style-type: none;
}

.serviceType li{
  padding-top: 10px;
}

.serviceType {
    padding-right: 5px;
    height: 300px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    background: #fdfafa;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding-top: 40px;
    color: white;
    background: #AD2186;
}

.serviceType ul{
 padding-left: 0px;
 list-style-type: none;
}
.keyAreas {
  margin-top: 20px;
  margin: auto;
  padding: 50px;
  overflow: hidden;
  height: auto;
  background: #3D1632;
  transition: background-color 0.85s;
}

.profImage {
    height: 100px;
    border-radius: 50%;
    width: 100px;
}

.about,
.services {
  padding-right: 20px;
  padding-left: 20px;
}

.areaTitle {
/*  margin-top: 20px;*/
  font-size: 16px;
}

.quote {
  font-size: 20px;
  font-style: italic;
}
.mc-field-group label{
  font-size: 14px;
  margin-bottom: 100px;
  color: #786443;
}

#mce-LNAME,
#mce-EMAIL,
#mce-FNAME {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
}

#mc-embedded-subscribe {
  font-size: 20px;
  color: #FFFFFF;
  background: #DEA62F;
  width: 104%;
  margin-top: 10px;
  height: 40px;
  border: transparent;
  border-radius: 5px;
}

.services {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #871A68;
	color: white;
}
.services .row {
    border-top-width: 50px;
    margin: auto;
    padding: 50px;
}

.keyTitle{
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  
}

.title {
  /*margin-top: -50px;*/
  color: white;
}

.navcontainer {
  display: flex;
  margin: auto;
  right: 0;
  left: 0;
  width: auto;
  height: 100px;
}

.contentbox {
  color: white;
  margin: auto;
}

.box {
    text-align: center; */
    font-size: 12px;
    color: white;
    border-radius: 12.5rem;
    width: 180px;
    /* padding: 0px; */
    margin: 5px;
    height: 35px;
    transition: width .5s;
}

.Ins {
  background-color: #3D1632;
}

.Bal {
  background-color: #004B9C;
}

.Soc {
  background-color: #DB8400;
}

.Ath {
  background-color: #038A6A;
}

.areaTitle,
.subTitle {
  padding-top: 5px;
}

.profImage {
  display: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.content {
  padding-top: 50px;
}