html {
	text-align: center;
}

body {
	margin: auto;
}

header {
	width: 100%;
	background: rgba(78,57,101,0.7);
    color: #FEFEE2;
	padding-top: 5px;
    position: fixed;
    padding-bottom: 5px;
}

a,
ul,
li {
	text-decoration: none;
	color: inherit;
}

nav ul {
	display: none;
}

nav li {
    background: #9377B2;
    line-height: 40px;
    list-style-type: none;
    border: 2px solid #FEC913;
    padding-top: 2px;
    /* padding-bottom: 0px; */
    border-radius: 34px;
    height: 45px;
    width: 150px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    font-size: 20px;
}

#menuIcon,
#closeIcon {
	font-size: 20px;
	padding-top: 4px;
	float: left;
	padding-left: 2%;
}

section {
	color: black;
	padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.hero {
	color: white;
	height: 48vh;
	background: url("https://picsum.photos/200/300/?random");
	background-repeat: no-repeat;
	padding-top: 50vh;
	background-size: cover;
}

.secTitle,
.headerTitle {
	font-size: 25px;
}

.subscribe {
	background: #9377B2;
	color: #1d0029;
	padding: 20px;
}

.secTitle {
	padding: 15px;
}

.subscribeIcon {
	position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: gray;
    color: white;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

.subscription input{
	font-size: 20px;
	height: 25px;
}

#submit {
	width: 100%;
	margin-top: 10px;
	height: 30px;
	border-radius: 2px;
}

.contactIcons li {
	display: inline-block;
}

.contactIcons {
	font-size: 40px;
	padding-left: 0px;
}

input#menu {
	display: none;
}

.navContent {
	text-align: -webkit-center;
	display: none;
	overflow: hidden;
}

#closeIcon {
	display: none;
}

#menu:checked + label #menuIcon {
	display: none;
}

#menu:checked + label #closeIcon {
	display: block;
}

#menu:checked ~ .navContent {
	padding-left: 0px;
	display:inline;
	width: 100%;
	max-height: 100%;
}

.athletics {
	color: #1d0029;
}

.inspiration {
	background: 
}
